<sidebar-section name="Labels">
    <div>
    <sidebar-section-item text="Label 1" iconColor="#557688" icon="label"></sidebar-section-item>
    <sidebar-section-item text="Label 2" iconColor="#ffaacc" icon="label"></sidebar-section-item>
    <sidebar-section-item text="Label 3" iconColor="#11ff88" icon="label"></sidebar-section-item>
    </div>
    <div options>
    <button mat-icon-button aria-label="Create new label" (click)="stopPropagation($event)">
        <mat-icon>new_label</mat-icon>
    </button>
    </div>
</sidebar-section>
