<sidebar-section name="Projects">
    <div>
    <sidebar-section-item text="Project 1" iconColor="#557688" icon="circle"></sidebar-section-item>
    <sidebar-section-item text="Project 2" iconColor="#ffaacc" icon="circle"></sidebar-section-item>
    <sidebar-section-item text="Project 3" iconColor="#11ff88" icon="circle"></sidebar-section-item>
    </div>
    <div options>
    <button mat-icon-button aria-label="Create new project" [style.font-size]="'6px'" (click)="stopPropagation($event)">
        <mat-icon>add</mat-icon>
    </button>
    </div>
</sidebar-section>