<mat-toolbar color="primary">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
    >
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span>TodoList</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container"
      [hasBackdrop]="(isHandset$ | async)">

  <mat-sidenav #drawer class="sidenav" 
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'push' : 'push'"
      [class.sidenav-mobile]="(isHandset$ | async)"
      [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <sidebar-section-item text="Inbox" icon="inbox"></sidebar-section-item>
      <sidebar-projects-section></sidebar-projects-section>
      <sidebar-labels-section></sidebar-labels-section>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

  </mat-sidenav-content>
</mat-sidenav-container>

