mat-panel-title {
  position: relative;
  align-items: center;
  font-size: large;
}

.options-buttons {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  opacity: 0;
  transition: opacity 0.07s ease-in-out;
}

mat-panel-title:hover .options-buttons {
  opacity: 1;
}
